table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

/* Select All the P inside Div */
div>p {
   color: red;
}

.ng-valid[required], .ng-valid.requried {
    border-bottom: 5px solid greenyellow
}


.ng-invalid:not(form){
    border-bottom: 5px solid red
}

.Formbody{
    text-align: center;
}

button:disabled{
    background-color: lightgray;
}

button{
    background-color: aquamarine;
}